.about-user{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    h2{
        margin-top:5em;
    }
    .user{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        
        img{
            width: 200px!important;

            height: 200px!important;
            border: 5px solid black;
            border-radius: 100%;
            margin:40px 0;
        }
        h4{
            position: absolute;
            right: 30px;
            top: 0;
            cursor: pointer;
        }

        .profile{
            margin-bottom: 8%;
        }
    }

}

.organizatie{
    
    .create-company{
        border:0;
        border-radius: 10px;
        background-color: purple;
        padding: 10px 20px;
        color: white;
        margin: 20px 0;
    }

    .d-none{
        display: none;
    }
    .create-company-container{
        border: 2px solid black;
        height: 400px;
        padding: 20px 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .submit{
            margin: 10px;
            padding: 5px 0px;

        }
    }
}